/* Manrope ExtraLight (100) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-100.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Manrope Light (200) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-200.ttf") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Manrope Regular (300) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-300.ttf") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Manrope Medium (400) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-400.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Manrope SemiBold (500) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-500.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Manrope Bold (600) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-600.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Manrope ExtraBold (700) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-700.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
